.container {
  position: fixed;
  display: flex;
  z-index: 999;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #313146;
  justify-content: space-between;
}
.lcon {
  padding-left: 8px;
}
.mobile {
  display: none;
  width: 35px;
  height: 35px;
}

.logout {
  /* padding-right: 100px; */
  color: rgb(240, 160, 12);
}

@media only screen and (max-width: 600px) {
  .mobile {
    display: block;
  }
  .pc {
    display: none;
  }
}
