.maincontainer {
  display: flex;
}
.sidecontainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  /* justify-content: space-between; */
  align-items: center;
  gap: 50px;
  background-color: #313146;
  width: 50px;
  height: 100vh;
}
.mini {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 47px;
}
.icons {
  height: 30px;
  width: 30px;
  color: rgb(212, 205, 205);
}
.iconsselect {
  height: 30px;
  width: 30px;
  color: rgb(240, 160, 12);
}
.minis {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 47px;
  border-left: 3px solid rgb(240, 160, 12);
}
.mcontainer {
  display: flex;
  flex-direction: column;
  height: auto;
  /* width: 100vw; */
  align-items: center;
  background-color: #161620;
  color: white;
  padding-top: 80px;
  padding-left: 50px;
}

/* 201616 */

.lcontainer {
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  padding-bottom: 80px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 70px; /* increased width */
  height: 160px; /* increased height */
  position: relative;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0 0 40px; /* adjusted bottom inset */
  border-radius: 30px 30px 20px 20px; /* adjusted border radius */
  padding: 2px; /* adjusted padding */
  background: repeating-linear-gradient(-45deg, #91d2e2 0 16px, #1296a7 0 24px)
    content-box; /* adjusted gradient steps */
  --c: radial-gradient(farthest-side, #000 94%, #0000);
  -webkit-mask: linear-gradient(#0000 0 0), var(--c) -20px -20px,
    var(--c) 30px -28px, var(--c) 18px -12px, var(--c) -24px 18px,
    var(--c) 28px 18px, var(--c) 46px 54px, var(--c) -16px 70px,
    var(--c) 50% 50%, linear-gradient(#000 0 0);
  mask: linear-gradient(#000 0 0), var(--c) -20px -20px, var(--c) 30px -28px,
    var(--c) 18px -12px, var(--c) -24px 18px, var(--c) 28px 18px,
    var(--c) 46px 54px, var(--c) -16px 70px, var(--c) 50% 50%,
    linear-gradient(#0000 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude, add, add, add, add, add, add, add, add;
  -webkit-mask-repeat: no-repeat;
  animation: l2 3s infinite;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 50% calc(50% - 8px) 0; /* adjusted position */
  background: #e0a267;
  border-radius: 100px; /* adjusted border radius */
}
@keyframes l2 {
  0% {
    -webkit-mask-size: auto, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
  }
  10% {
    -webkit-mask-size: auto, 50px 50px, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
  }
  20% {
    -webkit-mask-size: auto, 50px 50px, 50px 50px, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
  }
  30% {
    -webkit-mask-size: auto, 50px 50px, 50px 50px, 60px 60px, 0 0, 0 0, 0 0, 0 0,
      0 0;
  }
  40% {
    -webkit-mask-size: auto, 50px 50px, 50px 50px, 60px 60px, 60px 60px, 0 0,
      0 0, 0 0, 0 0;
  }
  50% {
    -webkit-mask-size: auto, 50px 50px, 50px 50px, 60px 60px, 60px 60px,
      50px 50px, 0 0, 0 0, 0 0;
  }
  60% {
    -webkit-mask-size: auto, 50px 50px, 50px 50px, 60px 60px, 60px 60px,
      50px 50px, 50px 50px, 0 0, 0 0;
  }
  70% {
    -webkit-mask-size: auto, 50px 50px, 50px 50px, 60px 60px, 60px 60px,
      50px 50px, 50px 50px, 50px 50px, 0 0;
  }
  80%,
  100% {
    -webkit-mask-size: auto, 50px 50px, 50px 50px, 60px 60px, 60px 60px,
      50px 50px, 50px 50px, 50px 50px, 400% 400%;
  }
}

@media only screen and (max-width: 600px) {
  .sidecontainer {
    display: none;
  }
  .mcontainer {
    padding: 0px;
    /* padding-right: 40px; */
    margin-top: 40px;
    margin-right: 0;
    width: 100vw;
    /* margin-left: 30px; */
  }
  .sidecontainert {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    /* justify-content: space-between; */
    align-items: center;
    gap: 50px;
    background-color: #313146;
    width: 50px;
    height: 100vh;
  }
}
